body {
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    
}
h1, h2, h3{
    color:#777;
}
a {
    color: #777;
}
    a:hover {
        color: #ebc26b;
    }
/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top:50px;
    background-color:white;
    width:100%;
    height:100%;
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar {
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    background-color: transparent;
}
.navbar-inverse {
    position:relative;
    
}
    .navbar-inverse .navbar-collapse {
        border-color: #808080;
    }
    .navbar-inverse .navbar-brand {
        color: white;
        font-size: 20pt;
        font-weight: 600;
    }
    .navbar-inverse .navbar-nav > li > a {
        color: white;
        font-weight: 400;
        font-size: 11pt;
    }
    .navbar-inverse .navbar-nav > li > a:hover {
        color: #ebc26b;
    }
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand
{
    margin-left:15px;
}
.navbar-collapse {
    float: right;
    padding-right:0px;
}
    .navbar-collapse.in {
        background-color: #a39e9b;
        border-color: #808080;
        width: 250px;
        padding-right:15px;
    }
    .navbar-collapse.in .navbar-nav {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .navbar-collapse.in .navTop {
        border-right: #808080 1px solid;
    }
    .navbar-collapse.in .navBottom {
        border-right: #808080 1px solid;
    }
    .navbar-collapse.in .searchBox{
        border-right:0px;
    }
.collapsing {
    background-color: #a39e9b;
    border-color: #808080;
    width: 250px;
    padding-right: 15px;
}
    .collapsing .navbar-nav {
        margin-top: 0px;
        margin-bottom: 0px;
        
    }
        .collapsing .navTop {
            border-right: #808080 1px solid;
        }
        .collapsing .navBottom {
            border-right: #808080 1px solid;
        }
        .collapsing .searchBox {
            border-right: 0px;
        }
.navTop {
    border-color: #808080;
    border-bottom-width: 1px;
    border-top-width: 0px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-style: solid;
}
.navBottom {
    border-color: #808080;
    border-bottom-width: 1px;
    border-top-width: 0px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-style: solid;
}
.header {
    background-image: url('../../images/page-header.jpg');
    background-repeat: no-repeat;
    width: 100%;
    height: 102px;
    position: absolute;
    z-index: 10;
}
.navbar-brand {
  margin-left:15px;
}
.menu {
    border-bottom-width: 0px;
    border-bottom-color: #808080;
    border-bottom-style: solid;
}
.menuLeft {
    position:relative;
}
    .menuLeft .navbar-brand {
        position: absolute;
        z-index: 900;
    }
.menuRight {
    position:relative;
    
}
.menuAbsolute {
    position: absolute;
    z-index: 900;
    right: 20px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.searchIcon {
    font-size: 22px;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.searchInput{
    background-color:transparent;
    font-size:16pt;
    color:white;
    border:none;
    padding-top:10px;
    padding-bottom:10px;
}
.searchBox input:focus {
    outline: none;
}

.searchBox {
    border-right-width: 1px;
    border-right-color: #808080;
    border-right-style: solid;
    padding-left: 10px;
    padding-right: 10px;
}
.content{
    padding-left:20px;
    padding-right:20px;
}
.sliderBox {
    position: relative;
    margin-left: -35px;
    margin-right: -35px;
    height: 400px;
}
.slider {
    background-image: url('../../images/slider/slide1.jpg');
    width: 100%;
    height: 500px;
    z-index: 50;
    top: -100px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    left: 0px;
}
.categoryRow {
    background-color: #efefef;
    margin-left: -35px;
    margin-right: -35px;
    padding-left:20px;
    padding-right:20px;
}
.categoryCol1 {
    height: 210px;
    background-image: url('../../images/products/d1.jpg');
    background-repeat: no-repeat;
    position: relative;
    background-position-x: right;
}
.categoryCol2 {
    height: 210px;
    background-image: url('../../images/products/d2.jpg');
    background-repeat: no-repeat;
    position: relative;
    background-position-x: right;
}
.categoryCol3 {
    height: 210px;
    background-image: url('../../images/products/d3.jpg');
    background-repeat: no-repeat;
    position: relative;
    background-position-x: right;
}
.categoryTitle {
    font:16pt 'Open Sans',Arial,Helvetica,sans-serif;
    position:absolute;
    top:50px;
    left:10px;
}
.categoryButton {
    border: 1px solid #e1ddc3;
    padding: 10px 28px;
    color: #61605a;
    font-family: 'Oswald';
    font-size: 14px;
    letter-spacing: 0.05em;
    background-color: transparent;
    box-shadow: none;
    position:absolute;
    bottom:50px;
}
    .categoryButton a:visited, a:focus, a:hover {
        text-decoration: none;
        color:#ebc26b;
    }
.featuredTitle {
    font-size: 25px;
    font-weight: 700;
    text-align:center;
    padding-top:20px;
}
.owl-items
{
    display:flex;
}
.owl-item{
    float:left;
}
.product-name{
    font-size:12pt;
}
.qty-changer > a {
    position: absolute;
    top: 0;
    width: 30px;
    height: 43px;
    border: solid 1px #e1ddc3;
    line-height: 41px;
    font-size: 11px;
    color: #e1ddc3;
}
.price-box {
    /*border-bottom: solid 1px #e4e4e4;*/
    padding-bottom: 20px;
    margin-top: 8px;
    margin-bottom: 0;
}
.regular-price {
    color: #444;
}
.price-label {
    display:none;
}
.old-price{
    text-decoration:line-through;
    font-size:10pt;
    color:#999;
    float:left;
}
.special-price{
    float:left;
    font-size:14pt;
    font-weight:bold;
}
.qty-field label {
    display: none;
}
.loader-container, .actions > .loader-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 199;
}
a.quickview-icon {
    background-color: #fff;
    color: #a19d81;
    padding: 5px;
    margin: 5px;
    line-height: 23px;
    height: 30px;
    width: 30px;
    position:absolute;
    right:0px;
    top:0px;
    display:none;
}
.product-image-area {
    position: relative;
    background: #fff;
    overflow: hidden;
    padding: 3px;
    z-index: 0;
}
.product-label{
    position: absolute;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    top: 10px;
    right:15px;
    z-index: 3;
}
span.sale-product-icon {
    background-color: #e27c7c;
    display: block;
    text-align: center;
}
.actions {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -55px;
    opacity: 0;
    transition: all 0.3s;
}
footer {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #272723;
    color: #a8a8a8;
}
.footerTitle{
    font-size:20pt;
    padding-top:20px;
    padding-bottom:20px;
    color:white;
}
.contact-info .glyphicon {
    font-size: 20pt;
    color: #e1ddc3 !important
}
footer ul{
    list-style:none;
    padding-left:0px;
}
footer .contact-info li {
    border-top: solid 1px #3d3d38;
}
    footer li p {
        display: inline-block;
        vertical-align: sub;
        padding-top:10px;
    }
.account-info .glyphicon {
    font-size: 8pt;
    color: #e1ddc3 !important
}
footer .account-info a {
    display: inline-block;
    vertical-align: sub;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    font-size: 12pt;
}
.input-box input {
    background-color: #33332f;
    color: #686865;
    height: 48px;
    border: none;
    font-size: 13px;
    padding-left: 15px;
    float: left;
    max-width: 300px;
}
button.button {
    -webkit-border-fit: lines;
    overflow: visible;
    width: auto;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: transparent;
    cursor: pointer;
    float:left;
}
button.button:hover > span, button.button span {
    background-color: #e1ddc3;
    color: #61605a;
    float:left;
    padding:7px 10px;
}
.copyright{
    text-align:center;
}
