<div class="singleProducts">
    <div class="singleProductsSp"></div>
    <div class="singleProductsItem" id="first">
        <div class="singleProductsItemName">
            <h2 class="singleProductsItemNameH2">Sunglasses</h2>
            <a class="btn btn-default" href="#">SHOP NOW</a>
        </div>
        <img src="~/images/products/image_link_1.jpg" height="100%" width="100%" />
    </div>
    <div class="singleProductsItem">
        <div class="singleProductsItemName">
            <h2 class="singleProductsItemNameH2">Woman Dress</h2>
            
            <a class="btn btn-default" href="#">SHOP NOW</a>
        </div>
        <img src="~/images/products/image_link_2.jpg" height="100%" width="100%" />
    </div>
    <div class="singleProductsItem">
        <div class="singleProductsItemName">
            <h2 class="singleProductsItemNameH2">Woman Bags</h2>
            <a class="btn btn-default" href="#">SHOP NOW</a>
        </div>
        <img src="~/images/products/image_link_3.jpg" height="100%" width="100%" />
    </div>
    <div class="singleProductsSp"></div>
</div>
        




<div class="weaklyProducts">WEEKLY FEATURED PRODUCTS</div>

<div class="products">
    <div class="productsItem">
        <img src="~/images/products/p4.jpg" height="100%" width="100%" />
        <div class="productsItemName">Jane Dress-Orange</div>
        <div class="productsItemName">$89.00</div>
    </div>
    <div class="productsItem">
        <img src="~/images/products/p4.jpg" height="100%" width="100%" />
        <div class="productsItemName">Jane Dress-Orange</div>
        <div class="productsItemName">$89.00</div>
    </div><div class="productsItem">
    <img src="~/images/products/p4.jpg" height="100%" width="100%" />
    <div class="productsItemName">Jane Dress-Orange</div>
    <div class="productsItemName">$89.00</div>
</div><div class="productsItem">
    <img src="~/images/products/p4.jpg" height="100%" width="100%" />
    <div class="productsItemName">Jane Dress-Orange</div>
    <div class="productsItemName">$89.00</div>
</div>
</div>